

footer{
    color: black !important;
    margin-top: 15px;
}
footer a{
    color: black !important;
}
footer a:hover{
    color:black !important;
}

.footer-bottom{
    background: #868e96;
}

.footer-middle{
    background: #868e96;
    padding-top: 2em;
    color: black;
}
.check-green{
    color: green; 
}