a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
    color: #000;
}
.carousel .carousel-item{
    height: 337px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 51.7%;
}
