.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

    /* the rest of your styling */
    background-color: #2C3544;
    color: white !important; 
}
.navbar-light{
    color: white !important;
}
.navbar-brand{
    color: white !important; 
}
.nav-link{
    color: #fff !important;
}

.line-height-edit{
    line-height: 0; 
}
.margin-top-row{
    margin-top: 15px; 
}