.content-container {
    margin-top: 15px;
}
.profileImage {
    
    margin: auto;
    display: block;
    
}
.table th{
    padding: 0 ; 
    padding-top: 0.75em;
    padding-bottom: 0.75em; 
}
.card-row{
    margin-top: 15px; 
}